<div
    id="contactsListContainer"
    class="w-[500px] md:w-[300px] xs:shadow md:shadow-none bg-white xs:rounded-md md:rounded-tr-none 
    md:rounded-br-none md:rounded-tl-md md:rounded-bl-md overflow-y-auto xs:border xs:border-[#e7e7e7] 
    xs:mx-3 md:mx-0 xs:mb-3 md:mb-0"
    :class="[$store.state.isProfilePageOpen && isMobile ? 'hidden' : 'block']"
>
    <div class="contactsListSearchContainer p-3 flex flex-row w-full">
        <div class="flex flex-col max-w-[300px] w-[90%] pr-2">
            <label class="text-sm font-semibold text-[#4158A6]" for="nameSearch">Search</label>
            <input
                id="nameSearch"
                class="contactListNameSearchInput pl-1 pr-1 rounded-md bg-[#f7f7f7] focus:outline-none focus:ring-2 focus:ring-[#ff441ab9]"
                type="text"
                v-model="searchText"
                placeholder="Name"
            />
        </div>
        <div class="flex flex-row items-end justify-end flex-1">
            <font-awesome-icon
                v-if="sortDirection !== 'asc'"
                class="contactsListDescendingICon cursor-pointer hover:opacity-50 text-[20px] text-[#4158A6]"
                icon="fa-solid fa-arrow-up-z-a"
                @click="toggleSortDirectionOnClick"
            />
            <font-awesome-icon
                v-else
                class="contactsListAscendingIcon cursor-pointer hover:opacity-50 text-[20px] text-[#4158A6]"
                icon="fa-solid fa-arrow-down-a-z"
                @click="toggleSortDirectionOnClick"
            />
        </div>
    </div>

    <div v-if="people && people.length > 0" class="contactsList p-3">
        <div v-for="(contacts, letter) in groupedContacts" :key="letter">
            <p class="contactsListLetterSection font-semibold border-b border-[#b1bdc7] text-[#4158A6]">{{letter}}</p>
            <p
                v-for="contact in contacts"
                :key="contact.id"
                class="contactName border-b border-[#b1bdc7] text-gray-600 cursor-pointer hover:opacity-50"
                @click="getContactProfileOnClick(contact.id)"
            >
                {{contact.name}}
            </p>
        </div>
    </div>

    <div v-else class="contactNotFoundMessageContainer p-3 text-center">
        <p class="pt-6 text-gray-600 italic">Contact "{{searchText}}" not found.</p>
    </div>
</div>