<div id="contactsListContainer" class="w-[300px] bg-white rounded-tl-md rounded-bl-md overflow-y-auto border-r border-[#e7e7e7]">
	<div class="p-3 flex flex-row w-full">
		<div class="flex flex-col max-w-[300px] w-[90%] pr-2">
			<label class="text-sm font-semibold text-[#4158A6]" for="nameSearch">Search</label>
			<input id="nameSearch" class="pl-1 pr-1 rounded-md bg-[#f7f7f7] focus:outline-none focus:ring-2 focus:ring-[#ff441ab9]" type="text" v-model="searchText" placeholder="Name">
		</div>
		<div class="flex flex-row items-end justify-end pr-2 flex-1">
			<font-awesome-icon v-if="sortDirection !== 'asc'" class="cursor-pointer hover:opacity-50 text-[20px] text-[#4158A6]" icon="fa-solid fa-arrow-up-z-a" @click="toggleSortDirectionOnClick"/>
			<font-awesome-icon v-else class="cursor-pointer hover:opacity-50 text-[20px] text-[#4158A6]" icon="fa-solid fa-arrow-down-a-z" @click="toggleSortDirectionOnClick"/>
		</div>
	</div>

	<div v-if="people !== []" class="p-3">
		<div v-for="(contacts, letter) in groupedContacts" :key="letter">
			<p class="font-semibold border-b border-[#b1bdc7] text-[#4158A6]">{{letter}}</p>
			<p 
				v-for="contact in contacts" 
				:key="contact.id"
				class="border-b border-[#b1bdc7] text-gray-700 cursor-pointer hover:opacity-50"
				@click="getContactProfileOnClick(contact.id)">
				{{contact.name}}
			</p>
				 
		</div>
	</div>
</div>
